In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [46]:
df=pd.read_csv('HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [47]:
df = pd.read_csv('HR-Employee-Attrition.csv')
cat_cols = ['EducationField','JobRole']
for col in cat_cols:
    df[col] = df[col].astype('category')
df = pd.get_dummies(df, columns=cat_cols)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,41,Yes,Travel_Rarely,1102,Sales,1,2,1,1,2,Female,94,3,2,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,49,No,Travel_Frequently,279,Research & Development,8,1,1,2,3,Male,61,2,2,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,1,4,4,Male,92,2,1,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,1,5,4,Female,56,3,1,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,1,7,1,Male,40,3,1,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0

In [48]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assuming your data is stored in a pandas DataFrame called 'df'
object_cols = [col for col in df.columns if df[col].dtype == "object" and col not in ['EducationField', 'JobRole']]

# Perform label encoding on each column
for col in object_cols:
    label_encoder = LabelEncoder()
    df[col] = label_encoder.fit_transform(df[col])

In [49]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative
0,41,1,2,1102,2,1,2,1,1,2,0,94,3,2,4,2,5993,19479,8,0,1,11,3,1,80,0,8,0,1,6,4,0,5,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,49,0,1,279,1,8,1,1,2,3,1,61,2,2,2,1,5130,24907,1,0,0,23,4,4,80,1,10,3,3,10,7,1,7,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,37,1,2,1373,1,2,2,1,4,4,1,92,2,1,3,2,2090,2396,6,0,1,15,3,2,80,0,7,3,3,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
3,33,0,1,1392,1,3,4,1,5,4,0,56,3,1,3,1,2909,23159,1,0,1,11,3,3,80,0,8,3,3,8,7,3,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,27,0,2,591,1,2,1,1,7,1,1,40,3,1,2,1,3468,16632,9,0,0,12,3,4,80,1,6,3,3,2,2,2,2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0

In [50]:
from sklearn.preprocessing import LabelEncoder
target_var = 'Attrition'
le = LabelEncoder()
df[target_var] = le.fit_transform(df[target_var])

df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative'],
      dtype='object')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   BusinessTravel                     1470 non-null   int32
 3   DailyRate                          1470 non-null   int64
 4   Department                         1470 non-null   int32
 5   DistanceFromHome                   1470 non-null   int64
 6   Education                          1470 non-null   int64
 7   EmployeeCount                      1470 non-null   int64
 8   EmployeeNumber                     1470 non-null   int64
 9   EnvironmentSatisfaction            1470 non-null   int64
 10  Gender                             1470 non-null   int32
 11  HourlyRate                         1470 non-null   int64
 12  JobInvolvement                     1470 non-null   int64
 13  JobLevel                           1470 non-null   int64
 14  JobSatisfaction                    1470 non-null   int64
 15  MaritalStatus                      1470 non-null   int32
 16  MonthlyIncome                      1470 non-null   int64
 17  MonthlyRate                        1470 non-null   int64
 18  NumCompaniesWorked                 1470 non-null   int64
 19  Over18                             1470 non-null   int32
 20  OverTime                           1470 non-null   int32
 21  PercentSalaryHike                  1470 non-null   int64
 22  PerformanceRating                  1470 non-null   int64
 23  RelationshipSatisfaction           1470 non-null   int64
 24  StandardHours                      1470 non-null   int64
 25  StockOptionLevel                   1470 non-null   int64
 26  TotalWorkingYears                  1470 non-null   int64
 27  TrainingTimesLastYear              1470 non-null   int64
 28  WorkLifeBalance                    1470 non-null   int64
 29  YearsAtCompany                     1470 non-null   int64
 30  YearsInCurrentRole                 1470 non-null   int64
 31  YearsSinceLastPromotion            1470 non-null   int64
 32  YearsWithCurrManager               1470 non-null   int64
 33  EducationField_Human Resources     1470 non-null   uint8
 34  EducationField_Life Sciences       1470 non-null   uint8
 35  EducationField_Marketing           1470 non-null   uint8
 36  EducationField_Medical             1470 non-null   uint8
 37  EducationField_Other               1470 non-null   uint8
 38  EducationField_Technical Degree    1470 non-null   uint8
 39  JobRole_Healthcare Representative  1470 non-null   uint8
 40  JobRole_Human Resources            1470 non-null   uint8
 41  JobRole_Laboratory Technician      1470 non-null   uint8
 42  JobRole_Manager                    1470 non-null   uint8
 43  JobRole_Manufacturing Director     1470 non-null   uint8
 44  JobRole_Research Director          1470 non-null   uint8
 45  JobRole_Research Scientist         1470 non-null   uint8
 46  JobRole_Sales Executive            1470 non-null   uint8
 47  JobRole_Sales Representative       1470 non-null   uint8
dtypes: int32(6), int64(27), uint8(15)
memory usage: 366.2 KB

In [52]:
# df2=pd.DataFrame(df[['BusinessTravel_Non-Travel','BusinessTravel_Travel_Rarely','BusinessTravel_Travel_Frequently', 'DistanceFromHome', 'HourlyRate', 'MaritalStatus_Divorced', 'MaritalStatus_Married', 'MonthlyRate','OverTime_No', 'OverTime_Yes','StandardHours']].mean(axis=1), columns=['Daily-Personal'])

In [53]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
features = [col for col in df.columns if col != 'Attrition']
scaler = MinMaxScaler()
df[features] = scaler.fit_transform(df[features])

In [54]:
pd.options.display.max_columns = 50
print(df)

           Age  Attrition  BusinessTravel  DailyRate  Department  \
0     0.547619          1             1.0   0.715820         1.0
1     0.738095          0             0.5   0.126700         0.5
2     0.452381          1             1.0   0.909807         0.5
3     0.357143          0             0.5   0.923407         0.5
4     0.214286          0             1.0   0.350036         0.5
...        ...        ...             ...        ...         ...
1465  0.428571          0             0.5   0.559771         0.5
1466  0.500000          0             1.0   0.365784         0.5
1467  0.214286          0             1.0   0.037938         0.5
1468  0.738095          0             0.5   0.659270         1.0
1469  0.380952          0             1.0   0.376521         0.5

      DistanceFromHome  Education  EmployeeCount  EmployeeNumber  \
0             0.000000       0.25            0.0        0.000000
1             0.250000       0.00            0.0        0.000484
2             0.035714       0.25            0.0        0.001451
3             0.071429       0.75            0.0        0.001935
4             0.035714       0.00            0.0        0.002903
...                ...        ...            ...             ...
1465          0.785714       0.25            0.0        0.996613
1466          0.178571       0.00            0.0        0.997097
1467          0.107143       0.50            0.0        0.998065
1468          0.035714       0.50            0.0        0.998549
1469          0.250000       0.50            0.0        1.000000

      EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                    0.333333     0.0    0.914286        0.666667      0.25
1                    0.666667     1.0    0.442857        0.333333      0.25
2                    1.000000     1.0    0.885714        0.333333      0.00
3                    1.000000     0.0    0.371429        0.666667      0.00
4                    0.000000     1.0    0.142857        0.666667      0.00
...                       ...     ...         ...             ...       ...
1465                 0.666667     1.0    0.157143        1.000000      0.25
1466                 1.000000     1.0    0.171429        0.333333      0.50
1467                 0.333333     1.0    0.814286        1.000000      0.25
1468                 1.000000     1.0    0.471429        0.333333      0.25
1469                 0.333333     1.0    0.742857        1.000000      0.25

      JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  \
0            1.000000            1.0       0.262454     0.698053
1            0.333333            0.5       0.217009     0.916001
2            0.666667            1.0       0.056925     0.012126
3            0.666667            0.5       0.100053     0.845814
4            0.333333            0.5       0.129489     0.583738
...               ...            ...            ...          ...
1465         1.000000            0.5       0.082254     0.409396
1466         0.000000            0.5       0.472986     0.777474
1467         0.333333            0.5       0.270300     0.123670
1468         0.333333            0.5       0.230700     0.447661
1469         0.666667            0.5       0.178778     0.326601

      NumCompaniesWorked  Over18  OverTime  PercentSalaryHike  \
0               0.888889     0.0       1.0           0.000000
1               0.111111     0.0       0.0           0.857143
2               0.666667     0.0       1.0           0.285714
3               0.111111     0.0       1.0           0.000000
4               1.000000     0.0       0.0           0.071429
...                  ...     ...       ...                ...
1465            0.444444     0.0       0.0           0.428571
1466            0.444444     0.0       0.0           0.285714
1467            0.111111     0.0       1.0           0.642857
1468            0.222222     0.0       0.0           0.214286
1469            0.222222     0.0       0.0           0.071429

      PerformanceRating  RelationshipSatisfaction  StandardHours  \
0                   0.0                  0.000000            0.0
1                   1.0                  1.000000            0.0
2                   0.0                  0.333333            0.0
3                   0.0                  0.666667            0.0
4                   0.0                  1.000000            0.0
...                 ...                       ...            ...
1465                0.0                  0.666667            0.0
1466                0.0                  0.000000            0.0
1467                1.0                  0.333333            0.0
1468                0.0                  1.000000            0.0
1469                0.0                  0.000000            0.0

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0             0.000000              0.200               0.000000
1             0.333333              0.250               0.500000
2             0.000000              0.175               0.500000
3             0.000000              0.200               0.500000
4             0.333333              0.150               0.500000
...                ...                ...                    ...
1465          0.333333              0.425               0.500000
1466          0.333333              0.225               0.833333
1467          0.333333              0.150               0.000000
1468          0.000000              0.425               0.500000
1469          0.000000              0.150               0.500000

      WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0            0.000000           0.150            0.222222
1            0.666667           0.250            0.388889
2            0.666667           0.000            0.000000
3            0.666667           0.200            0.388889
4            0.666667           0.050            0.111111
...               ...             ...                 ...
1465         0.666667           0.125            0.111111
1466         0.666667           0.175            0.388889
1467         0.666667           0.150            0.111111
1468         0.333333           0.225            0.333333
1469         1.000000           0.100            0.166667

      YearsSinceLastPromotion  YearsWithCurrManager  \
0                    0.000000              0.294118
1                    0.066667              0.411765
2                    0.000000              0.000000
3                    0.200000              0.000000
4                    0.133333              0.117647
...                       ...                   ...
1465                 0.000000              0.176471
1466                 0.066667              0.411765
1467                 0.000000              0.176471
1468                 0.000000              0.470588
1469                 0.066667              0.117647

      EducationField_Human Resources  EducationField_Life Sciences  \
0                                0.0                           1.0
1                                0.0                           1.0
2                                0.0                           0.0
3                                0.0                           1.0
4                                0.0                           0.0
...                              ...                           ...
1465                             0.0                           0.0
1466                             0.0                           0.0
1467                             0.0                           1.0
1468                             0.0                           0.0
1469                             0.0                           0.0

      EducationField_Marketing  EducationField_Medical  EducationField_Other  \
0                          0.0                     0.0                   0.0
1                          0.0                     0.0                   0.0
2                          0.0                     0.0                   1.0
3                          0.0                     0.0                   0.0
4                          0.0                     1.0                   0.0
...                        ...                     ...                   ...
1465                       0.0                     1.0                   0.0
1466                       0.0                     1.0                   0.0
1467                       0.0                     0.0                   0.0
1468                       0.0                     1.0                   0.0
1469                       0.0                     1.0                   0.0

      EducationField_Technical Degree  JobRole_Healthcare Representative  \
0                                 0.0                                0.0
1                                 0.0                                0.0
2                                 0.0                                0.0
3                                 0.0                                0.0
4                                 0.0                                0.0
...                               ...                                ...
1465                              0.0                                0.0
1466                              0.0                                1.0
1467                              0.0                                0.0
1468                              0.0                                0.0
1469                              0.0                                0.0

      JobRole_Human Resources  JobRole_Laboratory Technician  JobRole_Manager  \
0                         0.0                            0.0              0.0
1                         0.0                            0.0              0.0
2                         0.0                            1.0              0.0
3                         0.0                            0.0              0.0
4                         0.0                            1.0              0.0
...                       ...                            ...              ...
1465                      0.0                            1.0              0.0
1466                      0.0                            0.0              0.0
1467                      0.0                            0.0              0.0
1468                      0.0                            0.0              0.0
1469                      0.0                            1.0              0.0

      JobRole_Manufacturing Director  JobRole_Research Director  \
0                                0.0                        0.0
1                                0.0                        0.0
2                                0.0                        0.0
3                                0.0                        0.0
4                                0.0                        0.0
...                              ...                        ...
1465                             0.0                        0.0
1466                             0.0                        0.0
1467                             1.0                        0.0
1468                             0.0                        0.0
1469                             0.0                        0.0

      JobRole_Research Scientist  JobRole_Sales Executive  \
0                            0.0                      1.0
1                            1.0                      0.0
2                            0.0                      0.0
3                            1.0                      0.0
4                            0.0                      0.0
...                          ...                      ...
1465                         0.0                      0.0
1466                         0.0                      0.0
1467                         0.0                      0.0
1468                         0.0                      1.0
1469                         0.0                      0.0

      JobRole_Sales Representative
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0
...                            ...
1465                           0.0
1466                           0.0
1467                           0.0
1468                           0.0
1469                           0.0

[1470 rows x 48 columns]

In [55]:
df.shape[1]

48

In [56]:
df1=pd.DataFrame(df[['EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction']].mean(axis=1), columns=['Satisfaction'])

In [57]:
df2=pd.DataFrame(df[['EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction']].mean(axis=1), columns=['Salary'])

In [58]:
df3=pd.DataFrame(df[['YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion']].mean(axis=1), columns=['YearsAt'])

In [59]:
df = df.drop(['EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction','EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction','YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion'], axis=1)

In [60]:
y=df['Attrition']
y

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

In [61]:
df=df.drop(['Attrition'],axis=1)

In [77]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import MinMaxScaler


# scale the data using MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

selector = SelectKBest(chi2, k=25
                    )
selector.fit(df, y)

# get the selected feature names
selected_features = df.columns[selector.get_support()]

# print the selected feature names
print(selected_features)

Index(['Age', 'DailyRate', 'Department', 'DistanceFromHome', 'JobInvolvement',
       'JobLevel', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'OverTime', 'StockOptionLevel', 'TotalWorkingYears',
       'YearsWithCurrManager', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Technical Degree',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Sales Representative'],
      dtype='object')

In [78]:
new_df = df[['Age', 'DailyRate', 'Department', 'JobInvolvement','JobLevel', 'MaritalStatus', 'MonthlyIncome', 'OverTime','NumCompaniesWorked', 'JobRole_Healthcare Representative', 'JobRole_Laboratory Technician',
             'JobRole_Manager', 'JobRole_Manufacturing Director', 'JobRole_Research Director',
             'JobRole_Sales Representative',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree']]

In [79]:
new_df

,Age,DailyRate,Department,JobInvolvement,JobLevel,MaritalStatus,MonthlyIncome,OverTime,NumCompaniesWorked,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Sales Representative,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree
0,0.547619,0.715820,1.0,0.666667,0.25,1.0,0.262454,1.0,0.888889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.738095,0.126700,0.5,0.333333,0.25,0.5,0.217009,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.452381,0.909807,0.5,0.333333,0.00,1.0,0.056925,1.0,0.666667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.357143,0.923407,0.5,0.666667,0.00,0.5,0.100053,1.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.214286,0.350036,0.5,0.666667,0.00,0.5,0.129489,0.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0.559771,0.5,1.000000,0.25,0.5,0.082254,0.0,0.444444,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1466,0.500000,0.365784,0.5,0.333333,0.50,0.5,0.472986,0.0,0.444444,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1467,0.214286,0.037938,0.5,1.000000,0.25,0.5,0.270300,1.0,0.111111,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1468,0.738095,0.659270,1.0,0.333333,0.25,0.5,0.230700,0.0,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1469,0.380952,0.376521,0.5,1.000000,0.25,0.5,0.178778,0.0,0.222222,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [84]:
df = pd.concat([new_df,df1, df2, df3], axis=1)
df

,Age,DailyRate,Department,JobInvolvement,JobLevel,MaritalStatus,MonthlyIncome,OverTime,NumCompaniesWorked,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Sales Representative,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Satisfaction,Salary,YearsAt
0,0.547619,0.715820,1.0,0.666667,0.25,1.0,0.262454,1.0,0.888889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.444444,0.444444,0.124074
1,0.738095,0.126700,0.5,0.333333,0.25,0.5,0.217009,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.666667,0.666667,0.235185
2,0.452381,0.909807,0.5,0.333333,0.00,1.0,0.056925,1.0,0.666667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.666667,0.666667,0.000000
3,0.357143,0.923407,0.5,0.666667,0.00,0.5,0.100053,1.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.777778,0.777778,0.262963
4,0.214286,0.350036,0.5,0.666667,0.00,0.5,0.129489,0.0,1.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.444444,0.444444,0.098148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0.559771,0.5,1.000000,0.25,0.5,0.082254,0.0,0.444444,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.777778,0.777778,0.078704
1466,0.500000,0.365784,0.5,0.333333,0.50,0.5,0.472986,0.0,0.444444,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.333333,0.333333,0.210185
1467,0.214286,0.037938,0.5,1.000000,0.25,0.5,0.270300,1.0,0.111111,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.333333,0.333333,0.087037
1468,0.738095,0.659270,1.0,0.333333,0.25,0.5,0.230700,0.0,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.777778,0.777778,0.186111
1469,0.380952,0.376521,0.5,1.000000,0.25,0.5,0.178778,0.0,0.222222,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.333333,0.333333,0.111111

In [85]:
df.columns

Index(['Age', 'DailyRate', 'Department', 'JobInvolvement', 'JobLevel',
       'MaritalStatus', 'MonthlyIncome', 'OverTime', 'NumCompaniesWorked',
       'JobRole_Healthcare Representative', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Sales Representative',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Satisfaction', 'Salary', 'YearsAt'],
      dtype='object')

In [86]:
df.to_csv('df_24.csv', index=False)

In [88]:
y.to_csv('y.csv',index=False)